{% extends 'base.html' %}

{% block head %}
<title>Covid-19 Tracker</title>
{% endblock %}

{% block body %}

<div class="main-card">
    <div class="image">
        <img src="static/coroners-report-seppuku.jpg" alt="">
    </div>

    <div class="info">
        <div class="date">
            <span>Sunday</span>
            <span>March 15th 2020</span>
        </div>
        <h1 class="title">Covid-19 Cases in the U.S.A</h1>
        <p class="placeholder">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius nihil doloribus praesentium labore quasi tenetur beatae consequatur magni, reiciendis quis omnis quidem eaque officiis corporis odio quia recusandae.
        </p>
        <a href="#">Important link</a>
    </div>
</div>

{% endblock %}